## Исследование регистрируемой безработицы в России.

<b>Задача:</b>
Для составления аналитического обзора по проблеме безработицы в России необходимо провести исследование основных социально-демографических характеристик безработных и ситуацию в 2020 году.<br>

<b>Источник данных:</b><br>
Регистрируемая безработица в России: общие социально-демографические характеристики с детализацией до органа занятости населения // Роструд; обработка: Колесников И.В., Копыток В.К., Кузьмина Ю.В., Инфраструктура научно-исследовательских данных, АНО «ЦПУР», 2021. Доступ: открытая лицензия в исследовательских целях. Размещено: 21.10.2021. (Ссылка на набор данных: http://data-in.ru/data-catalog/datasets/180/)

<b>Описание данных:</b><br>

id	 	              ID наблюдения в рамках набора данных. Единица наблюдения в датасете — совокупность личных дел с                             соответствующими характеристиками
district              Федеральный округ
region                Регион
month_application     Месяц обращения в орган занятости населения.
age                   Группа по возрасту, к которой относится безработный гражданин.
gender                Пол безработного: 1 — мужской; 0 — женский
education             Уровень образования безработного:
                        1 — начальное общее образование;
                        2 — основное общее образование;
                        3 — среднее общее образование;
                        4 — среднее профессиональное образование;
                        6 — высшее образование;
                        9 — другое;
                        0 - нет данных

hc_repeat 	         Отметка о том, что безработный обратился повторно в органы занятости населения.
hc_didnotwork		 Отметка о том, что, по информации органов занятости населения, гражданин ранее официально не работал.
find_new_job         Отметка о том, что гражданин нашел работу, в какой-либо период после признания безработным.

Сведения за декабрь 2020 года - не полные!

## <b>Задание:</b>

### <a class="anchor" id="1"></a> Загрузка данных. Предобработка

1. Загрузите файл <code>unemployed.csv</code> с разделителем <code>;</code>
2. Определите размер датасета.
3. Познакомьтесь с данными.
4. Проверьте пропуски, дубликаты и типы данных.
5. Добавьте столбцы с месяцем и годом (year, month).
6. Сформулируйте выводы.

###  <a class="anchor" id="1"></a> Исследовательский анализ данных

Все отчеты в этом разделе должны быть визуализированы. Графики должны содержать названия и подписи осей. Каждый пункт сопровидите выводами.

1. Определите динамику числа обращений в службу занятости за представленный в датасете период. Постройте линейный график. Укрупните по годам. Постройте столбчатую диаграмму. Добавьте признак повторных обращений в центры занятости населения, Постройте линейный график.
2. Определите число обращений в службу занятости по возрастным группам. Постройте столбчатую диаграмму.<br> *2.1 Детализируйте по каждому году, визуализируйте результат.
3. Определите общее число устроившихся на работу граждан, определите процент трудоустройства по всему датасету. Постройте столбчатую диаграмму.
4. Определите соотношение трудоустройства по каждому году (в абсолютных значениях). Постройте столбчатую диаграмму.<br>
*4.1 Выполните в относительных значениях, оцените динамику процента трудоустройства по годам.

5. Осуществите категоризацию по столбцам <code>gender</code> и <code>education</code> в соответствии с исходными данными. Определите с каким образованием в службу занятости обращаются гражданине, ранее официально не работавшие. Определите соотношение трудоустройства по каждому уровню образования.
6. Исследуйте безработицу в России отдельно за 2000 год (за исключением декабря 2020!). Создайте срез данных.<br>
6.1 Определите динамику числа безработных и нашедших работу за 2020 год по месяцам.<br>
6.2 Определите процент трудоустройства по гендерной принадлежности<br>
6.3 Определите число обращений в службу занятости по федеральным округам.<br>
6.4 Определите разброс числа объявлений по регионам с помощью boxplot.<br>
6.5 Определите число обращений в службу занятости в Северо-Западном федеральном округе по регионам.<br>
***6.6 Определите процент трудоустройства по федеральным округам.<br>
***6.7 Определите процент трудоустройства по регионам для каждого федерального округа. Реализуйте в цикле<br>

Задания, отмеченные символом * - для получения максимального балла по работе, рекомендуется для профиля "Математическое моделирование и анализ данных в экономике".

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np

In [4]:
data = pd.read_csv('unemployed.csv',sep=';')

C:\Users\victo\AppData\Local\Temp\ipykernel_16448\2784171824.py:1: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('unemployed.csv',sep=';')

In [5]:
data.tail(5)

,id,district,region,month_application,changed_value,age,gender,education,hc_repeat,hc_didnotwork,find_new_job,count
4347411,4346979,Южный федеральный округ,Ростовская область,2020-12,False,28-33,0,None,False,False,False,3
4347412,4346817,Южный федеральный округ,Ростовская область,2020-12,False,16-21,0,None,False,False,False,2
4347413,4347212,Южный федеральный округ,Ростовская область,2020-12,False,40-45,1,None,False,False,False,5
4347414,4347025,Южный федеральный округ,Ростовская область,2020-12,False,28-33,1,None,False,False,False,4
4347415,4347338,Южный федеральный округ,Ростовская область,2020-12,False,52-57,0,None,False,False,False,1

In [6]:
data.describe()

                 id         count
count  4.347416e+06  4.347416e+06
mean   2.173708e+06  2.343970e+00
std    1.254991e+06  1.475666e+01
min    1.000000e+00  1.000000e+00
25%    1.086855e+06  1.000000e+00
50%    2.173708e+06  1.000000e+00
75%    3.260562e+06  2.000000e+00
max    4.347416e+06  8.014000e+03

In [7]:
data.shape

(4347416, 12)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4347416 entries, 0 to 4347415
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   id                 int64
 1   district           object
 2   region             object
 3   month_application  object
 4   changed_value      bool
 5   age                object
 6   gender             object
 7   education          object
 8   hc_repeat          bool
 9   hc_didnotwork      bool
 10  find_new_job       bool
 11  count              int64
dtypes: bool(4), int64(2), object(6)
memory usage: 281.9+ MB

In [9]:
data['education'].unique()

array(['4', '2', '1', '3', '6', '9', 'None', 4, 6, 3, 2, 9], dtype=object)

In [10]:
for i in data.columns:
    print(i,' ***** ',data[i].unique())

id  *****  [   1170     256     711 ... 4347212 4347025 4347338]
district  *****  ['Дальневосточный федеральный округ' 'Приволжский федеральный округ'
 'Северо-Западный федеральный округ' 'Северо-Кавказский федеральный округ'
 'Сибирский федеральный округ' 'Уральский федеральный округ'
 'Центральный федеральный округ' 'Южный федеральный округ']
region  *****  ['Амурская область' 'Еврейская автономная область' 'Забайкальский край'
 'Камчатский край' 'Магаданская область' 'Приморский край'
 'Республика Бурятия' 'Республика Саха (Якутия)' 'Сахалинская область'
 'Хабаровский край' 'Чукотский автономный округ' 'Кировская область'
 'Нижегородская область' 'Оренбургская область' 'Пензенская область'
 'Пермский край' 'Республика Башкортостан' 'Республика Марий Эл'
 'Республика Мордовия' 'Республика Татарстан (Татарстан)'
 'Самарская область' 'Саратовская область' 'Удмуртская Республика'
 'Ульяновская область' 'Чувашская Республика - Чувашия'
 'Архангельская область' 'Вологодская область' 'г. Санкт-Петербург'
 'Калининградская область' 'Ленинградская область' 'Мурманская область'
 'Ненецкий автономный округ' 'Новгородская область' 'Псковская область'
 'Республика Карелия' 'Республика Коми' 'Кабардино-Балкарская Республика'
 'Карачаево-Черкесская Республика' 'Республика Дагестан'
 'Республика Ингушетия' 'Республика Северная Осетия - Алания'
 'Ставропольский край' 'Чеченская Республика' 'Алтайский край'
 'Иркутская область' 'Кемеровская область' 'Красноярский край'
 'Новосибирская область' 'Омская область' 'Республика Алтай'
 'Республика Тыва' 'Республика Хакасия' 'Томская область'
 'Курганская область' 'Свердловская область' 'Тюменская область'
 'Ханты-Мансийский автономный округ - Югра' 'Челябинская область'
 'Ямало-Ненецкий автономный округ' 'Белгородская область'
 'Брянская область' 'Владимирская область' 'Воронежская область'
 'г. Москва' 'Ивановская область' 'Калужская область'
 'Костромская область' 'Курская область' 'Липецкая область'
 'Московская область' 'Орловская область' 'Рязанская область'
 'Смоленская область' 'Тамбовская область' 'Тверская область'
 'Тульская область' 'Ярославская область' 'Астраханская область'
 'Волгоградская область' 'г. Севастополь' 'Краснодарский край'
 'Республика Адыгея (Адыгея)' 'Республика Калмыкия' 'Республика Крым'
 'Ростовская область']
month_application  *****  ['2017-01' '2017-02' '2017-03' '2017-04' '2017-05' '2017-06' '2017-07'
 '2017-08' '2017-09' '2017-10' '2017-11' '2017-12' '2018-01' '2018-02'
 '2018-03' '2018-04' '2018-05' '2018-06' '2018-07' '2018-08' '2018-09'
 '2018-10' '2018-11' '2018-12' '2019-01' '2019-02' '2019-03' '2019-04'
 '2019-05' '2019-06' '2019-07' '2019-08' '2019-09' '2019-10' '2019-11'
 '2019-12' '2020-01' '2020-02' '2020-03' '2020-04' '2020-05' '2020-06'
 '2020-07' '2020-08' '2020-09' '2020-10' '2020-11' '2020-12']
changed_value  *****  [False  True]
age  *****  ['52-57' '22-27' '34-39' '40-45' '46-51' '58-60' '16-21' '28-33']
gender  *****  [0 1 '1' '0' 'None']
education  *****  ['4' '2' '1' '3' '6' '9' 'None' 4 6 3 2 9]
hc_repeat  *****  [ True False]
hc_didnotwork  *****  [False  True]
find_new_job  *****  [False  True]
count  *****  [   1    2    3    4    5    6    9    7   10    8   12   11   14   13
   17   18   16   15   32   24   28   44   30   21   19   50   20   38
   29   22   33   26   60   25   42   23   34   48   37   40   41   51
   63   39   27   31   36   56   84   58   76   69   65   89   49   73
  106   35   74   85   43   62   67   98   53   46   45   47   64   80
  100   61   79   59  101  149   71   52   54   70  162   57  186  150
  202  205   99   77  142  165  140  200  109   82   81  103   75  230
   55  121  131   72   66  117  168  137  114   88  118  126  199  179
   68  113  112   83   78   86   87  249  133   90  152   91  104  212
  129  261  124  138  164  135  143  159   93  107  105  141  145  251
  190   96  172  208  127   92  292  157  119  155  248  132  187  148
  223  204   97  120  192  110  125  176  108  115  128  183  195   94
  182  169   95  123  102  147  156  213  160  469  211  329  163 1048
  357  657  268  987  649  216  687  243  474  354  471  178  337  253
  280  283  170  408  153  215  377  226  122  331  224  762  511  738
  258  382  296  116  264  171  316  464  345  647  322  615  447  174
  532  196  270  273  287  455  507  232  227  111  422  267  385  194
  177  293  352  209  319  266  166  189  136  188  161  210  241  332
  181  497  231  513  146  256  254  348  386  327  370  139  635  158
  265  375  228  518  269  279  244  477  491  130  310  311  288  207
  197  144  203  276  278  151  255  201  299  217  290  229  167  259
  173  193  206  214  247  239  154  134  281  297  184  286  328  383
  191  284  440  410  252  333  676  222  221  320  592  220  402  371
  307  240  233  175  198  242  294  260  185  466  236  238  245  303
  315  323  237  235  291  556  334  387  326  424  295  250  389  305
  218  380  359  272  180  313  219  301  335  318  262  277  225  378
  516  448  349  435  274  257  298  302  275  347  330  271  282  401
  394  368  341  325  336  364  312  321  400  392  417  397  340  300
  289  304  263  234  379  306  388  343  342  314  433  473  285  350
  351  405  372  358  246  355  353  396  376  338  399  452  344  374
  391  454  431  360  308  393  411  339  415  346  503  626  515  520
 2275 2779 5174 7393 2736 3866  890 1126 2872 3596 3483 8014 5042 2786
 1277  761  736  601 3039 2852 3906 3978 3809 5962 4204 2434 4909 1681
  924  487 1679 2061 1800 5687 3067 4170 2547 1264 1885 1825 1747  768
 2855 3239 2258 1389 5111 2083 1765 1606 1231  952  510  519  662 2648
 1207 1395  698 1506 1577 1272 1760  524  778 1525 3023 1166 2064  525
  361  975 1304  840 2691  945 1044  977  874  755  757  614 1285  948
  974 1556 1124 2597  636  443 1040  667 1284 1998 1122 2182  562  578
 2144 1053  600 1232  423  451  309 1797 1256  384  546  550  836  997
 1394  747 2507  999  880  481  490  499  940  765  509  947 2886 2029
  893 1482 1116  545  427 2317  713 1240  993  620  434  748 1381 1639
  798  665  751 1177 1073  629  933 1050 1311  689 1079  572  429  591
  540  646  356  369  817  450  582  420  430  504  406  467  362  317
  708  482  547  506  512  558  463  432  439  366  727 1461  955 1477
  861  819  554  631  373 1391  766  395  666 1422  607 1082 1106  529
  476  741  720  810  785  390  604  660  480  479  777  444  594  521]

In [11]:
# Видим, что есть строковые данные, которые следует перевести в числовой вид. Так же стоит отдельно проработать вопрос относительно того, можно ли предобработать интервальные величины, чтобы уметь с ними работать.

In [12]:
changind_in_gender = {'1':1,'0':0}
changind_in_education = {'1':1,'0':0,"2":2,"3":3,"4":4,"5":5,"6":6,"9":9, 'None': 0}
changind_in_repead_and_others = {" False": False, " True": True, "True":True,"False":False,"False ":False, "True ":True}

In [13]:
data["gender"] = data["gender"].replace(changind_in_gender)
data["education"] = data["education"].replace(changind_in_education)
data["hc_repeat"] = data["hc_repeat"].replace(changind_in_repead_and_others)

In [14]:
for i in data.columns:
    print(i,' ***** ',data[i].unique())

id  *****  [   1170     256     711 ... 4347212 4347025 4347338]
district  *****  ['Дальневосточный федеральный округ' 'Приволжский федеральный округ'
 'Северо-Западный федеральный округ' 'Северо-Кавказский федеральный округ'
 'Сибирский федеральный округ' 'Уральский федеральный округ'
 'Центральный федеральный округ' 'Южный федеральный округ']
region  *****  ['Амурская область' 'Еврейская автономная область' 'Забайкальский край'
 'Камчатский край' 'Магаданская область' 'Приморский край'
 'Республика Бурятия' 'Республика Саха (Якутия)' 'Сахалинская область'
 'Хабаровский край' 'Чукотский автономный округ' 'Кировская область'
 'Нижегородская область' 'Оренбургская область' 'Пензенская область'
 'Пермский край' 'Республика Башкортостан' 'Республика Марий Эл'
 'Республика Мордовия' 'Республика Татарстан (Татарстан)'
 'Самарская область' 'Саратовская область' 'Удмуртская Республика'
 'Ульяновская область' 'Чувашская Республика - Чувашия'
 'Архангельская область' 'Вологодская область' 'г. Санкт-Петербург'
 'Калининградская область' 'Ленинградская область' 'Мурманская область'
 'Ненецкий автономный округ' 'Новгородская область' 'Псковская область'
 'Республика Карелия' 'Республика Коми' 'Кабардино-Балкарская Республика'
 'Карачаево-Черкесская Республика' 'Республика Дагестан'
 'Республика Ингушетия' 'Республика Северная Осетия - Алания'
 'Ставропольский край' 'Чеченская Республика' 'Алтайский край'
 'Иркутская область' 'Кемеровская область' 'Красноярский край'
 'Новосибирская область' 'Омская область' 'Республика Алтай'
 'Республика Тыва' 'Республика Хакасия' 'Томская область'
 'Курганская область' 'Свердловская область' 'Тюменская область'
 'Ханты-Мансийский автономный округ - Югра' 'Челябинская область'
 'Ямало-Ненецкий автономный округ' 'Белгородская область'
 'Брянская область' 'Владимирская область' 'Воронежская область'
 'г. Москва' 'Ивановская область' 'Калужская область'
 'Костромская область' 'Курская область' 'Липецкая область'
 'Московская область' 'Орловская область' 'Рязанская область'
 'Смоленская область' 'Тамбовская область' 'Тверская область'
 'Тульская область' 'Ярославская область' 'Астраханская область'
 'Волгоградская область' 'г. Севастополь' 'Краснодарский край'
 'Республика Адыгея (Адыгея)' 'Республика Калмыкия' 'Республика Крым'
 'Ростовская область']
month_application  *****  ['2017-01' '2017-02' '2017-03' '2017-04' '2017-05' '2017-06' '2017-07'
 '2017-08' '2017-09' '2017-10' '2017-11' '2017-12' '2018-01' '2018-02'
 '2018-03' '2018-04' '2018-05' '2018-06' '2018-07' '2018-08' '2018-09'
 '2018-10' '2018-11' '2018-12' '2019-01' '2019-02' '2019-03' '2019-04'
 '2019-05' '2019-06' '2019-07' '2019-08' '2019-09' '2019-10' '2019-11'
 '2019-12' '2020-01' '2020-02' '2020-03' '2020-04' '2020-05' '2020-06'
 '2020-07' '2020-08' '2020-09' '2020-10' '2020-11' '2020-12']
changed_value  *****  [False  True]
age  *****  ['52-57' '22-27' '34-39' '40-45' '46-51' '58-60' '16-21' '28-33']
gender  *****  [0 1 'None']
education  *****  [4 2 1 3 6 9 0]
hc_repeat  *****  [ True False]
hc_didnotwork  *****  [False  True]
find_new_job  *****  [False  True]
count  *****  [   1    2    3    4    5    6    9    7   10    8   12   11   14   13
   17   18   16   15   32   24   28   44   30   21   19   50   20   38
   29   22   33   26   60   25   42   23   34   48   37   40   41   51
   63   39   27   31   36   56   84   58   76   69   65   89   49   73
  106   35   74   85   43   62   67   98   53   46   45   47   64   80
  100   61   79   59  101  149   71   52   54   70  162   57  186  150
  202  205   99   77  142  165  140  200  109   82   81  103   75  230
   55  121  131   72   66  117  168  137  114   88  118  126  199  179
   68  113  112   83   78   86   87  249  133   90  152   91  104  212
  129  261  124  138  164  135  143  159   93  107  105  141  145  251
  190   96  172  208  127   92  292  157  119  155  248  132  187  148
  223  204   97  120  192  110  125  176  108  115  128  183  195   94
  182  169   95  123  102  147  156  213  160  469  211  329  163 1048
  357  657  268  987  649  216  687  243  474  354  471  178  337  253
  280  283  170  408  153  215  377  226  122  331  224  762  511  738
  258  382  296  116  264  171  316  464  345  647  322  615  447  174
  532  196  270  273  287  455  507  232  227  111  422  267  385  194
  177  293  352  209  319  266  166  189  136  188  161  210  241  332
  181  497  231  513  146  256  254  348  386  327  370  139  635  158
  265  375  228  518  269  279  244  477  491  130  310  311  288  207
  197  144  203  276  278  151  255  201  299  217  290  229  167  259
  173  193  206  214  247  239  154  134  281  297  184  286  328  383
  191  284  440  410  252  333  676  222  221  320  592  220  402  371
  307  240  233  175  198  242  294  260  185  466  236  238  245  303
  315  323  237  235  291  556  334  387  326  424  295  250  389  305
  218  380  359  272  180  313  219  301  335  318  262  277  225  378
  516  448  349  435  274  257  298  302  275  347  330  271  282  401
  394  368  341  325  336  364  312  321  400  392  417  397  340  300
  289  304  263  234  379  306  388  343  342  314  433  473  285  350
  351  405  372  358  246  355  353  396  376  338  399  452  344  374
  391  454  431  360  308  393  411  339  415  346  503  626  515  520
 2275 2779 5174 7393 2736 3866  890 1126 2872 3596 3483 8014 5042 2786
 1277  761  736  601 3039 2852 3906 3978 3809 5962 4204 2434 4909 1681
  924  487 1679 2061 1800 5687 3067 4170 2547 1264 1885 1825 1747  768
 2855 3239 2258 1389 5111 2083 1765 1606 1231  952  510  519  662 2648
 1207 1395  698 1506 1577 1272 1760  524  778 1525 3023 1166 2064  525
  361  975 1304  840 2691  945 1044  977  874  755  757  614 1285  948
  974 1556 1124 2597  636  443 1040  667 1284 1998 1122 2182  562  578
 2144 1053  600 1232  423  451  309 1797 1256  384  546  550  836  997
 1394  747 2507  999  880  481  490  499  940  765  509  947 2886 2029
  893 1482 1116  545  427 2317  713 1240  993  620  434  748 1381 1639
  798  665  751 1177 1073  629  933 1050 1311  689 1079  572  429  591
  540  646  356  369  817  450  582  420  430  504  406  467  362  317
  708  482  547  506  512  558  463  432  439  366  727 1461  955 1477
  861  819  554  631  373 1391  766  395  666 1422  607 1082 1106  529
  476  741  720  810  785  390  604  660  480  479  777  444  594  521]

In [15]:
#fПосле быстрой проверки выяснилось, что пробел перед True - это ошибка вывода, в остальном всё нормально

In [16]:
data["month_application"] = pd.to_datetime(data["month_application"], format='%Y-%m')

In [17]:
data["year"] = data["month_application"].dt.year
data["month"] = data["month_application"].dt.month_name(locale = "rus_rus")

In [24]:
data.head()

,id,district,region,month_application,changed_value,age,gender,education,hc_repeat,hc_didnotwork,find_new_job,count,year,month
0,1170,Дальневосточный федеральный округ,Амурская область,2017-01-01,False,52-57,0,4,True,False,False,1,2017,Январь
1,256,Дальневосточный федеральный округ,Амурская область,2017-01-01,False,22-27,1,4,True,False,False,1,2017,Январь
2,711,Дальневосточный федеральный округ,Амурская область,2017-01-01,False,34-39,1,4,True,False,True,1,2017,Январь
3,799,Дальневосточный федеральный округ,Амурская область,2017-01-01,False,40-45,0,4,False,False,False,1,2017,Январь
4,861,Дальневосточный федеральный округ,Амурская область,2017-01-01,False,40-45,1,2,True,False,False,2,2017,Январь

In [18]:
data.duplicated().sum()

0

In [19]:
#Дубликатов нет, но это не гарантирует того, что их абсолютно нет. Тем не менее, буду придерживаться этого вывода

In [20]:
data.to_csv("dataFine.csv")

In [21]:
1

1

In [23]:
data['gender'].unique()

array([0, 1, 'None'], dtype=object)